.ui-datepicker{
	background: #FFFFFF;
	border: solid 1px #118ab2 !important;
}

.ui-datepicker-header{
	background: #ef476f;
	border: solid 1px #ef476f;
}
.ui-datepicker-prev{
 	background-image: url('../img/left-arrow.png');
		background-repeat: no-repeat;
		margin-top: .30em;
}

.ui-datepicker-next{
	background-image: url('../img/right-arrow.png');
		background-repeat: no-repeat;
		margin-top: .30em;
}

.ui-datepicker-prev:hover{
	background: none;
 	background-image: url('../img/left-arrow.png');
		background-repeat: no-repeat;
		border: none;
}

.ui-datepicker-next:hover{
	background: none;
	background-image: url('../img/right-arrow.png');
		background-repeat: no-repeat;
 	border: none;
}

.ui-state-default{
	color: #ef476f !important;
}

.ui-state-default:hover{
	color: #fff !important;
}

.ui-state-active{
	border: solid 1px rgba(17, 138, 178, .6) !important;
	background: rgba(17, 138, 178, .8) !important;
}

.ui-datepicker th{
 	font-size: 10pt;
  	padding: 5px 0;
  	color: #666666;
}

.ui-datepicker tbody td{
  	padding: 0;
		border:none;
}

.ui-datepicker tbody td:last-child {
  	border: none;
}

.ui-datepicker tbody tr {
  	border:none;
}

.ui-datepicker tbody tr:last-child {
  	border: none;
}

.ui-datepicker tbody td a:hover{
  	background: #ef476f;
  	border: 1px solid #ef476f;
  	color: #ffffff;
}

.ui-datepicker tbody .ui-datepicker-today a{
	background: rgba(239, 71, 111, .8);
	border: solid 1px rgba(239, 71, 111, .7);
	color: #FFFAFA !important;
}